<div class="row">
  <div class="col-md-12">
    <h3> Edit <%= @object.class.name.titleize %></h3>
    <%= link_to t('admin.link.show'), send("admin_#{@object.class.table_name.singularize}_path", @object) %> |
    <%= link_to t('admin.link.back'), send("admin_#{@object.class.table_name}_path") %>
  </div>
  <%= render 'form',object: @object %>

</div>